@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


:root {
    --background-color: #f9fafb;
    --error-color: #e74c3c;
    --success-color: #2ecc71;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family:'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0 2px 10px rgb(0,0,0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 20px;
}

.form-control {
   margin-bottom: 10px;
   padding-bottom: 10px;
}

.form-control label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
}

.form-control input:focus {
    outline: none;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control small {
    color: #e74c3c;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
background-color: #3498db;
border: 2px solid #3498db;
color: white;
border-radius: 5px;
padding: 10px;
width: 100%;
display: block;
font-size: 16px;
margin-top: 15px;
cursor: pointer;
}